<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CULTUREPEDIA</title>
</head>
<body>
    <h1>공연 상세정보</h1>
    <table border="1">
        <ul>
            <li>공연명: {{ performance_data.공연명 }}</li>
            <li>공연시작일: {{ performance_data.공연시작일 }}</li>
            <li>공연종료일: {{ performance_data.공연종료일 }}</li>
            <li>공연장명: {{ performance_data.공연장명 }}</li>
            <li>공연출연진: {{ performance_data.공연출연진 }}</li>
            <li>공연제작진: {{ performance_data.공연제작진 }}</li>
            <li>런타임: {{ performance_data.런타임 }}</li>
            <li>관람연령: {{ performance_data.관람연령 }}</li>
            <li>제작사: {{ performance_data.제작사 }}</li>
            <li>기획사: {{ performance_data.기획사 }}</li>
            <li>티켓가격: {{ performance_data.티켓가격 }}</li>
            <li>포스터</li>
                <img src="{{ performance_data.포스터 }}"></li>
            <li>줄거리: {{ performance_data.줄거리 }}</li>
            <li>장르: {{ performance_data.장르 }}</li>
            <li>공연상태: {{ performance_data.공연상태 }}</li>
            <li>내한: {{ performance_data.내한 }}</li>
            <li>대학로: {{ performance_data.대학로 }}</li>
            <li>축제: {{ performance_data.축제 }}</li>
            <li>뮤지컬라이센스: {{ performance_data.뮤지컬라이센스 }}</li>
            <li>뮤지컬창작: {{ performance_data.뮤지컬창작 }}</li>
            <li>공연시간: {{ performance_data.공연시간 }}</li>
            <li>소개이미지</li>
                {% for styurl in performance_data.소개이미지목록 %}
                    <img src="{{ styurl }}">
                {% endfor %}
        </ul>
        </tbody>
    </table>
</body>
</html>
