body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
}

h1,
h4 {
    text-align: center;
    color: #333;
}

.input-group .input-group-text {
    margin: 10px;
    display: inline-block;
}

.input-group input[type="checkbox"] {
    margin-right: 5px;
}

.tag-checkbox {
    display: none;
}

.checkbox-label {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

/*checkbox가 check되었을 때 컬러 변경*/
.tag-checkbox:checked+.checkbox-label {
    background-color: cornflowerblue;
    color: white;
    border-color: cornflowerblue;
}

label {
    display: block;
    margin: 10px 0px 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #A9A9A9;
}

#message {
    text-align: center;
    margin-top: 20px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}


.card-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}